<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated assignment2 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="emf.salestransactions.assignment2.presentation.Assignment2ModelWizardID"
            name="%_UI_Assignment2ModelWizard_label"
            class="emf.salestransactions.assignment2.presentation.Assignment2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Assignment2ModelFile.gif">
         <description>%_UI_Assignment2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated assignment2 -->
      <editor
            id="emf.salestransactions.assignment2.presentation.Assignment2EditorID"
            name="%_UI_Assignment2Editor_label"
            icon="icons/full/obj16/Assignment2ModelFile.gif"
            extensions="assignment2"
            class="emf.salestransactions.assignment2.presentation.Assignment2Editor"
            contributorClass="emf.salestransactions.assignment2.presentation.Assignment2ActionBarContributor">
      </editor>
   </extension>

</plugin>
